<div class = "digg_pagination">
  <div class = "page_info">
    <%=t('results_of_search_on')%> <%= @request%>:
  </div>
</div>
<%if params[:selector] == t("songs") %>
    <%@results.each do |result|%>
        <%= render :partial => "songs/show", :locals => {:song => result, :genres => @genres} %>
    <%end%>
    <div class="digg_pagination">
      <div class="page_info">
        <%= page_entries_info @results %>
      </div>
    <%= will_paginate @results%>
    </div>
<%elsif params[:selector] == t("playlists")%>
    <%@results.each do |result|%>
        <%= render :partial => "playlists/show", :locals => {:playlist => result} %>
    <%end%>
<%else%>
    <%@results.each do |result|%>
        <%= render :partial => "users/show", :locals => {:user => result} %>
    <%end%>
<%end%>