<%= link_to (user_path(user.id)) do%>
    <div class="panel panel-default">
      <div class="panel-body">
        <b><%= user.name %></b>
        <% if(user.is_admin?) %>
            <%= image_tag("https://cdn3.iconfinder.com/data/icons/fatcow/16x16_0760/ruby.png", :alt => "admin") %>
        <% end %>
        <%=t('number_of_songs_uploaded')%>: <b><%= user.songs.count %></b>
        <% if(user.average("Rating"))%>
            <%=t('rate')%>: <%= user.average("Rating").avg%>
        <% else %>
            <%=t('rate')%>: 0.0
        <% end %>
        <br>
      </div>
    </div>
<% end %>