<div class="panel panel-default">
  <div class="panel-body">
    <table>
      <tr>
        <td class = "td-width">
          <b><%=t('title')%>:</b> <%= song.title %>
          <b>&nbsp;&nbsp;<%=t('performer')%>:</b> <%= song.performer %>
        </td>
        <td>
          <% if (current_user != nil)%>
              <%= rating_for song, "Rating", disable_after_rate: true, imdb_avg: true, cancel_hint: 'Cancel rating'%>
          <% else %>
              <%=t('rate')%>:<b><%=song.average("Rating").avg%></b>
          <% end %>
        </td>
        <td>
          <%=t('tags')%>: <%= raw song.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
        </td>
      </tr>
      <tr>
        <td>
          <%= audio_tag song.file.url.to_s, controls: true %>
        </td>
        <td>
          <%= link_to "", edit_user_playlist_path(current_user.id, @playlist.id, song_id: song.id), method: :get, name: "addsong", id: "addsong#{song.id}", :class => "btn btn-info btn-lg glyphicon glyphicon-plus", remote: true, disabled: false%>
        </td>
        <td>
          <%=t('genre')%>:&nbsp;
          <% if song.genre %>
              <%=select_tag "#{song.id}_#{current_user.id}", options_for_select(genres.map{|genre| genre.title}, :selected => song.genre.title)%>
          <%end%>
          <br>
        </td>
      </tr>
    </table>
  </div>
</div>