<div class="panel panel-default" , id=<%="deletesong#{song.id}"%>>
  <div class="panel-body">
    <table>
      <tr>
        <td class = "td-width">
          <% if(current_user != nil && (current_user.id == song.user_id || current_user.is_admin?)) %>
              <b><%=t('title')%>:&nbsp;</b> <%= best_in_place song, :title, url: user_song_path(current_user.id, song.id)%>
              <b>&nbsp;&nbsp;<%=t('performer')%>:&nbsp;</b><%= best_in_place song, :performer, url: user_song_path(current_user.id, song.id)%>
          <% else %>
              <b><%=t('title')%>:</b> <%= song.title %>
              <b>&nbsp;&nbsp;<%=t('performer')%>:</b> <%= song.performer %>
          <% end %>
        </td>
        <td>
          <% if (current_user != nil)%>
              <%= rating_for song, "Rating", disable_after_rate: true, imdb_avg: true, cancel_hint: t('cancel_rating')%>
          <% else %>
              <% if(song.average("Rating"))%>
                  <%=t('rate')%>: <%= song.average("Rating").avg%>
              <% else %>
                  <%=t('rate')%>: 0.0
              <% end %>
          <% end %>
        </td>
        <td >
          <% if(current_user != nil && (current_user.id == song.user_id || current_user.is_admin?)) %>
              <%=t('tags')%>:&nbsp;<%= best_in_place song, :tag_list, url: user_song_path(current_user.id, song.id), nil: "<small>"+ t('input_tags') +"</small>" %>
          <% else %>
              <%=t('tags')%>:&nbsp; <%= raw song.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>
          <%= audio_tag song.file.url.to_s, controls: true %>
        </td>
        <td>
          <% if(current_user != nil && (current_user.id == song.user_id || current_user.is_admin?)) %>
              <%= link_to "", user_song_path(song.user_id, song.id), method: :delete, name: "deletesong", :class => "btn btn-info btn-lg glyphicon glyphicon-remove", remote: true%>
          <% end %>
          <% if(current_user != nil && current_user.id != song.user_id) %>
              <%= link_to "", copy_user_song_path(current_user.id, song.id), method: :post, name: "copysong", id: "copysong#{song.id}", class: "btn btn-info btn-lg glyphicon glyphicon-plus", remote: true, disabled: false%>
          <% end %>
        </td>
        <td>
          <% if(current_user != nil && (current_user.id == song.user_id || current_user.is_admin?))%>
              <%=t('genre')%>:&nbsp;
              <% if song.genre %>
                  <%=t('genre')%>:&nbsp;
                  <%=select_tag "#{song.id}_#{current_user.id}", options_for_select(genres.map{|genre| genre.title}, :selected => song.genre.title)%>
              <%end%>
              <br>
          <% else %>
              <%=t('genre')%>:&nbsp;<% if song.genre %><%= song.genre.title%><%end%><br>
          <% end %>
          <%=t('uploaded_by')%>: <%= link_to song.user.name, user_path(song.user.id)%>
        </td>
      </tr>
    </table>
  </div>
</div>