<p><strong>Existing Music:</strong></p>
<% @songs.each do |song| %>
    <p> <%= song.title %> </p>
    <p>  <%= song.performer %> </p>
      <%= audio_tag song.file.url.to_s, controls: true %>
    <p>  <%= link_to "Delete", song, method: :delete, confirm: "Are you sure you want to delete #{song.file}?" %> </p>
<% end %>

<%= render "form" %>