<!DOCTYPE html>
<html>
<head>
  <title>MusicShare</title>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <b><%=link_to "Music Share", root_path, class: "navbar-brand" %></b>
    <div class="navbar-collapse collapse">
      <%= form_tag search_path, method: :get, class: "navbar-form navbar-left" do %>
          <div class="form-group">
            <input id = "request" name = "request" type="text" class="form-control" placeholder="Search">
            <select id = "selector" name = "selector" class="form-control">
              <option id = "songs" name = "songs">Songs</option>
              <option  id = "playlists" name = "playlists">Playlists</option>
              <option  id = "users" name = "users">Users</option>
            </select>
          </div>
          <button type="submit" class="btn btn-default">Find</button>
        <% end %>
        <ul class="nav navbar-nav navbar-right">
          <ul class="nav navbar-nav">
            <li><%= link_to "#" do%><%= t('English') %><img src="" class="flag flag-gb" alt="English" /><%end%></li>
            <li><%= link_to "#" do%><img src="" class="flag flag-ru" alt="Russian" /><%= t('Russian') %><%end%></li>
          </ul>
          <% if current_user %>
              <ul class="nav navbar-nav">
                <li class="navbar-text">Signed in with <strong><%= current_user.provider %></strong> as <strong><%= current_user.name %></strong></li>
                <li><div class = "fasade"><%= link_to image_tag(current_user.image), user_path(current_user.id), id: "show_user_profile"%></div></li>
                <li><%= link_to "Sign out", signout_path, id: "Sign out"%></li>
              </ul>
          <% else %>
              <ul class="nav navbar-nav btn-toolbar ">
                  <li class="btn btn-social-icon btn-facebook">
                    <i class="fa fa-facebook"></i>
                    <%= link_to "", "/auth/facebook", id: "sign_in" %>
                  </li>
                  <li class="btn btn-social-icon btn-twitter">
                    <i class="fa fa-twitter"></i>
                    <%= link_to "", "/auth/twitter", id: "sign_in" %>
                  </li>
                  <li class="btn btn-social-icon btn-vk">
                    <i class="fa fa-vk"></i>
                    <%= link_to "", "/auth/vkontakte", id: "sign_in" %>
                  </li>
              </ul>
          <% end %>
        </ul>
      </div>
  </div>
</nav>
<% if current_user %>
<div class="panel">
  <ul class="nav nav-pills">
    <li><%= link_to "Songs", user_songs_path(current_user.id)%></li>
    <li><%= link_to "Playlists", user_playlists_path(current_user.id)%></li>
  </ul>
</div>
<% end %>
    <div class="container", id = "container">
      <div class="jumbotron">
        <%= yield %>
    </div>
        </div>

</body>
</html>
